tbody, td, tfoot, th, thead, tr  {
    padding: 10px 15px !important;
}

.table-dark {
    --bs-table-color: #fff;
    --bs-table-bg: #404040;
   border-radius: 15px !important;

}

.recent-div {
    background: #404040;
    border-radius: 15px;
    padding: 10px 15px !important;

}

.fs-12 {
    font-size: 12px;
}

  
  